#logo {
    height: 60px;
    width: auto;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
}

#futi {
    height: 60px;
    width: auto;
}
h2 {
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
    font-size: 25px;
    color: #303030;
    float: left;
}
#tel {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
    font-size: 25px;
    color: #303030;
    margin-bottom: 15%;
    float: left;
    width: 300px;
    top: 0;
    padding-left: 20px;
    padding-right: 20px;
}
#cep {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
    font-size: 25px;
    color: #303030;
    width: 250px;
    float: left;
    padding-left: 20px;
}
#nuvem {
    height: 80px;
    width: auto;
}
.pesquisa {
    padding-left: 30%;
    padding-top: 16px;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
    position: relative;
    float: left;
    width: 35%;
}
.botao {
    background-color: #004078;
    padding: 5px;
    border-radius: 3px;
    border-color: #004078;
}
.barra {
    width: 60%;
    height: 30px;
    padding-top: 4px;
}
.login {
    height: 60px;
    width: 55%;
    float: right;
    padding-left: 40px;
}
#conta {
    height: 60px;
    width: auto;
    float: left;
    margin-right: 3px;
}
h1 {
    font-size: 30px;
    margin-bottom: 5px;
    width: 10%;
    padding-left: 12%;
    height: 60px;
}
header {
    background-color: #a7e0f8;
    height: 60px;
    top: 0;
    left: 0;
    position: absolute;
    right: 0;
    border: 0;
}
.inteiro {
    width: 50%;
}
.login {
    width: 47%;
    padding-right: 60px;
    float: left;
}
#sacola {
    height: 60px;
    width: auto;
}
#casa {
    height: 60px;
    width: auto;
    float: right;
}
#conta {
    height: 60px;
    width: auto;
}
footer {
    background-color: #a7e0f8;
    margin-top: 100%;
    position: relative;
    top: 100%;
}
#futi {
    width: 70%;
    float: right;
}